/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #eee;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #ffb905;

    --color-bg-primary: #212121;
}
