/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Press Start 2P', sans-serif;

    --font-size-content: 1rem;

    /// Grosseur des textes
    --font-size-h1: #{typo(60px)};
    --font-size-h2: #{typo(34px)};
    --font-size-h3: #{typo(20px)};
    --font-size-h4: #{typo(14px)};
}
